repos:
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.0.0
  hooks:
   - id: nbqa-black
     additional_dependencies: [black==20.8b1]
   - id: nbqa-isort
     additional_dependencies: [isort==5.6.4]